h2#lvk_title {
	font-size:26px;
}
#koreRadioPlayer {
	min-height: 60px;
	width: 75vw;
	outline: none;
	border:1px solid #333;
	border-radius:10px;
	padding:0;
	margin:20px auto 0;
	text-align:center;
	background-color:#202020;
	box-shadow:0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);	
	color:#fff;
	overflow:hidden;
}
marquee {
	height: auto;
	width: 75vw;
	outline: none;
	border:1px solid #333;
	border-radius:10px 10px 0 0;
	padding:5px 0;
	margin:10px auto 0;
	background-color:#202020;
	font-size:26px;
	line-height:0.9;
	color: #fff;
	/*box-shadow:0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);*/
}
.submarquee {
	height: auto;
	width: 75vw;
	outline: none;
	border:1px solid #333;
	border-radius:0 0 10px 10px;
	padding:5px 0;
	margin:0 auto;
	text-align:center;
	background-color:#202020;
	font-size:20px;
	color: #6fa7ed;
	box-shadow:0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);	
}
.submarquee span {
	font-size:20px;
	font-family:Courier;
	color: #fff;
}
button {
	display:inline-block;
	background-color:transparent;
	margin:10px;
	padding:0;
	width:40px;
	height:40px;
	overflow:hidden;
	border:none;
	cursor:pointer;
	font-size:36px;
	color:#fff;
}
button:hover {
	color:#dedede;
}
.playerDetails {
	height: auto;
	width: 75vw;
	outline: none;
	border:1px solid #333;
	border-radius:10px;
	padding:10px 0;
	margin:0 0 0 0;
	text-align:center;
	background-color:#202020;
	font-size:22px;
	color: #6fa7ed;
	box-shadow:0 8px 10px 0 rgba(255,255,255,0.2);
}
.playerDetails span {
	font-size:30px;
	color: #fff;
	font-weight:bold;
}