h2#lvk_title {
	font-size:26px;
}
#koreRadioPlayer {
	min-height: 60px;
	width: 75vw;
	padding:0;
	margin:20px auto;
	text-align:center;
	color:#fff;
}
marquee {
	height: auto;
	width: 75vw;
	outline: none;
	padding:5px 0;
	margin:10px auto 0;
	font-size:26px;
	line-height:1.2;
	color: #fff;
	box-shadow:0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);
}
.Users {
	padding:0;
	margin:0 auto;
	text-align:center;
	font-size:10px;
	color: #6fa7ed;	
}
.Users span {
	color: #fff;
}
a.Play,
a.Pause {
	display:inline-block;
	margin:10px;
	padding:0;
	border:none;
	cursor:pointer;
	font-size:40px;
	color:#fff;	
	text-decoration:none;
	text-shadow:2px 2px 5px #fff;
}
a.Play:hover,
a.Pause:hover,
a.Play:focus,
a.Pause:focus {
	color:#333;
	text-decoration:none;
	text-shadow:2px 2px 5px #fff;
}
.Time {
	display:block;
	padding:10px 0;
	margin:0;
	text-align:center;
	font-size:30px;
	color: #fff;
	font-weight:bold;
}