* {
	margin:0;
	padding:0;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
::-webkit-scrollbar {
 width: 0px;
 height: 0px;
}
::-webkit-scrollbar-thumb {
 background: none;
 border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
 background: none;;
}
::-webkit-scrollbar-track{
 background: none;
 border-radius: 0px;
}
* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
body, html {
	margin:0;
	padding:0;
	font-size:12px;
	line-height:0.9;
	font-family:Arial;
	background-color:#000;
	color:#fff;
}
a {
	color:#fff;
	text-decoration:none;
}
a:hover {
	color:#ddd;
	text-decoration:none;
}
h1 {
	font-size:42px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
	margin:10px 10px 10px 10px;
	padding:0;
}
h3 {
	font-size:35px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
	margin:10px 10px 5px 10px;
	padding:0;
}
li h3 {
	font-size:25px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
	margin:5px 0;
	padding:0;
}
p.message {
	text-align:justify;
	font-size:12px;
	margin:10px auto;
	padding:10px;
	display:block;
}
.frameBG {
	background-position:center;
	background-attachment:fixed;
	overflow:hidden;
	width:100vw;
	height:100vh;
	background-image:url(../configs/bg/bg3.jpg);
	background-size:120%;
	background-repeat:no-repeat;
}
.frameWrapper {
	text-align:center;
	background-color:rgba(0,0,0,0.40);
}
.frameContent {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	height:100%;
	width:100%;
}
.buttonBack {
	position:fixed;
	top:5px;
	right:5px;
	display:block;
	font-size:50px;
	color:rgba(200,200,200,0.60);
}
.loading {
	display:block;
	width:60px;
	height:60px;
	font-size:60px;
	position:absolute;
	left:48%;
	top:45%;
}
ul {
	list-style:square;
	padding:10px 10px 10px 25px;
	margin:20px auto;
	width:60%;
}
ul li {
	margin:0;
	padding:3px 0;
	text-align:justify;
	font-size:18px;
	line-height:1;
}
ul li small {
	font-size:14px;
	display:block;
	color:#9e9e9e;
}





/*
	Colors
*/
.yellow {
	color:#ebeb00;
}
.blue {
	color:#00e3eb;
}
.red {
	color:#db4646;
}
.grey {
	color:#9e9e9e;
}
.green {
	color:#32a852;
}
.darkblue {
	color:#0023eb;
}
.white {
	color:#fff;
}
.black {
	color:#000;
}
.orange {
	color:#f05e16;
}